@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: 'LobsterTwo-Bold';
    src: url('fonts/LobsterTwo-Bold.ttf');
    font-style: normal;
    font-weight: normal;
  }
  :root {
    --base1: #F4F8F9;
    --azul: #2E4DFA;
    --azul2:#3A4AD2;
    --baseNaranja:#FFC655;
    --blanco:#ffffff;
    --negro2:#475569;
    --gris:#E9EDF0;
    --negro:#040405;
  }
  [tema="oscuro"]{
    --base1: #475569;
    --azul2:#5e6df8;
    --negro2:#fff;
    --blanco:#434343;
    --gris:#858586;
    
}

/*=========ESTILOS BASE DE DISPOSICION======= */
body{
    background-image: url('/assets/bg/diagonal-squares.webp');
    font-family: "Nunito",Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 0.9rem;
}
.grilla{
  display: grid;
  grid-template-columns: repeat(12,75px);
  gap:12px;
  margin:0 auto;
}
main{
  flex:2;
  background-color: var(--blanco);
  min-height: 100%;
  border-top-left-radius: 30px;

}
footer{
  background-color:var(--negro);
  color:var(--blanco);
}
.cabecera{
  margin-top: 15px;
  
}
/*================ */
.cabecera_logo{
  grid-column:1/4 ;
}
.cabecera_menu{
  background-color: var(--blanco);
  grid-column: 4/13;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
  border-radius: 30px 30px 0 0;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  
}
.cabecera_menu a{
  padding:  15px;
  text-decoration: none;
  color:var(--negro2)
}
.cabecera_menu a:hover{
  background-color: var(--azul2);
  color:var(--blanco);
  border-radius:10px;
}
.datos{
  grid-column: 1/4;
  background-color: var(--base1);
  border-top-left-radius: 30px;
  min-width: 255px;
  min-height: 100%;
}
.contenido{
  grid-column: 4/13;

}
.datos{
  text-align: center;
  
}
.datos_foto{
  width: 130px;
  height: 130px;
  border-radius: 45px;
  margin-top: 20px;
  border:solid 5px var(--blanco);
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}
.datos_nombre{
  color: var(--negro2);
  font-family: 'LobsterTwo-Bold';
}
.datos_nombre--resaltado{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.linea{
  width: 70px;
  height: 5px;
  border-radius: 15px;
  background-color: var(--azul2);
  position: relative;
}
.linea::before {
  content: "";
  width: 20px;
  height: 5px;
  background-color: var(--baseNaranja);
  position: absolute;
  border-radius: 15px;
}

.datos_profesion{
  padding: 10px;
  background-color: var(--gris);
  border-radius: 10px;
  color: var(--negro2);
  margin: 1px 20px;
  font-size: 0.8rem;
}

.datos_contactos{
  display: flex;
  justify-content: center;
}
.datos_contactos_iconos{
  margin:10px 7px;
  color:var(--negro2);
  font-size: 1.2rem;
}
.datos_contactos a:hover i{
  color:var(--azul2);
}
.datos_info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  padding: 15px;
  color: var(--negro2);
  font-size: 0.8em;
}
.datos_info div{
  display:flex;
  align-items: center;
}
.datos_info div p{
  margin:7px
}
.datos_info div i{
  margin-right:10px
}
.botonCv{
  margin-top: 15px;
  background-color: var(--azul2);
  color:white;
  padding:8px 15px;
  border:none;
  border-radius: 30px;
  cursor:pointer;
  border:1px solid var(--azul2);
  
}
.botonCv:hover{
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.contenido{
  color:var(--negro2)
}
.labores{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 10px;
  text-align: center;
 
}
.labores div{
  border:2px solid var(--gris);
  display:  flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius:20px;
}
.labores div img{
  width: 60px;
}
.empleos{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.empleos_logo img{
  width: 160px;
  filter: grayscale(1);
  transition: all 0.3s;
}
.empleos_logo img:hover{
  filter: grayscale(0);
}
.slide{
  padding: 10px;
  overflow-y: hidden;
  max-height: 90px;
}
.slide_track{
  display: flex;
  align-items: center;
  animation: move 15s linear infinite;
  margin: 10px 0;
}
.slide-foto{
  display: block;
  width: 80px;
  height: 80px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.slide_track h3,p{
  margin: 0;
  margin-left: 20px;
}
.slide-comillas{
  color: var(--azul2);
  font-size: 3rem;
}

@keyframes move {
  0% {
    transform: translateY(-0%);
  }
  100% {
    transform: translateY(-320%);
  }
}
/*Boton modo oscuro */
#switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
#switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--azul2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: -1px;
  z-index: 5;
  background-color:var(--base1);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--negro2);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--gris);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.sol,.luna{
  color: var(--azul2);
  position: absolute;
  top:5px;
  cursor: pointer;
}
.sol{
  right:4px;
  color: var(--blanco);
  z-index: 1;
}
.luna{
  left: 6px;
  color: var(--blanco);
  z-index: 1;
}
/******
SCROLL
*/
body::-webkit-scrollbar {
  width: 0.7em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(55, 55, 55);
  outline: 1px solid rgb(38, 47, 56);
}
#btnresponsive{
  display: none;
}
.titulo__responsive{
  display: none;
}

.formacion{
  border-left:2px solid var(--gris);
  padding-left: 15px;
  margin-left: 10px;
  padding-bottom: 15px;;
}
.explaboral__estudios{
  position: relative;
}
.explaboral__estudios::after{
  content: "";
  display: block;
  background-color: var(--azul2);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top:0;
  left:-23px;
}
.formacion p{
  margin-left: 0;
}
.titulo__resumen{
  display: flex;
}
.titulo__resumen img{
  margin-right: 15px;
}
.active{
  background-color: var(--azul2);
  color:#fff !important;
  border-radius:10px;
}
/**************** Proyectos *******/
.galeria{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;

}
.galeria div{
  display: flex;
  flex-direction: column;
}
.galeria__foto{
  width: 100%;
  border-radius: 20px;;
  
}
.galeria__titulo{
  font-size: 1.2em;
  margin: 8px 0;
  color:var(--azul2)
}
.galeria__detalle{
  font-size: 0.9em;
}
/****** Meida Query ********/

@media (max-width: 768px){

  .grilla{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:12px;
    max-width: 100%;
    margin:0 auto;
  }
  .labores{

    grid-template-columns: repeat(1,1fr); ;
  }
  .empleos{
    display: grid;
    grid-template-columns: repeat(2,1fr); ;
  }
  .cabecera_menu{
    justify-content: space-between;
    padding: 25px 15px;
  }
  .cabecera_menu>a{
    display: none;
  }
  #btnresponsive{
    cursor: pointer;
    display: block;
  }
  #btnresponsive a {
  
    font-size: 1.5rem;
    vertical-align:middle;
  }
  .titulo__responsive{
    font-size: 2em;
    font-family:'LobsterTwo-Bold';;
    display:block;
  }
  .menu__response{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    min-width: 100%;
    height: 100%;
    z-index: 9999;
    
  }
 .menu__response__links{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    width: 100%;

    animation:all 3s;
    transition: 3s;
    animation-duration: 0.5s;
    animation-name: animLogo;
  }
  @keyframes animLogo{
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
        }
}
  .menu__response__links a{
    display: block;
    background-color: var(--base1);
    padding: 15px 10px;
    border-bottom: 1px dashed var(--negro2);
    text-decoration: none;
    color: var(--negro2);
  }
  .menu__response__links a:hover{
    
    background-color: var(--azul2);
    color: var(--blanco);
  }
  .menu__response__close{
    position: absolute;
    color:var(--negro2);
    font-size: 1.8rem;
    cursor:pointer;
    top:10px;
    right: 10px;
  }
  .galeria{
    display: grid;
    grid-template-columns: repeat(1,1fr); ;
  }
  
  
}

@media (max-width: 1024px){
  .grilla{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:12px;
    max-width: 820px;
    margin:0 auto;
  }
  .datos{
    display: none;
  }
  main{
    border-top-right-radius: 30px;
  }
    .contenido{
      grid-column: 1/13;
      padding: 10px;
      border-top-right-radius: 30px;
    } 
    .cabecera{
      width: 100%;
      
    }
    .cabecera_logo{
      display: none;
    }
    .cabecera_menu{
      grid-column: 1/13;
      border-radius: 0 0 30px 30px;
      margin-bottom: 20px;
    }
    .galeria{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
   
  }
 
  /*=====0f formulario  ****/

  .contactame{
    padding: 20px;
  }
  .contactame form >div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--azul2);
  color:var(--blanco) ;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  grid-column: 2/3;
  margin-left: 50%;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}